@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@using (Html.BeginForm("HttpPostIndex", "Home", FormMethod.Post))
{
    <label>Nombre:</label>
    <input type="text" name="nombre">
    <br />
    <button type="submit">Enviar</button>
}